main {
    height: 950px;
    width: 850px;
    margin: auto;
}

header img {
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

#fondo-negro {
    background-color: black;
    border-radius: 20px;
}

nav {
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FEBC16;
}

nav table {
    margin: auto;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

nav table tr th {
    border-right: 2px solid #ffffff;
    width: 180px;
}

#general {
    height: 640px;
    margin-top: 15px;
}

#izquierda {
    height: 628px;
    width: 320px;
    float: left;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside ul {
    width: 250px;
}

#aside1 {
    background-color: #B2B2B2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#aside2 {
    background-color: #222222;
    height: 376px;
}

aside ul li {
    list-style-type: none;
    text-align: center;
    color: white;
    height: 26px;
}

#titulo-form {
    padding-top: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #232323;
    height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#table-form {
    margin: auto;
}

#table-form tr td {
    padding: 12px;
}

#boton-ingresar {
    text-align: center;
}

#titulo-lista {
    padding-top: 8px;
    text-align: center;
    color: #FEBC16;
    background-color: #141414;
    height: 30px;
}

#derecha {
    height: 628px;
    width: 500px;
    float: right;
}

#credit-card {
    height: 307px;
    width: 240px;
    float: left;
    background-color: #D4D2D3;
    border-top-left-radius: 20px;
}

#credit-card header {
    width: 100%;
    font-size: small;
    height: 25px;
    padding-top: 7px;
    border-top-left-radius: 20px;
    text-align: center;
    background-color: #232323;
    color: #ffffff;
    padding-top: 7px;
}

#credit-card img {
    width: 100%;
}

#credit-card p {
    width: 100%;
    font-size: small;
}

#graduacion {
    height: 307px;
    width: 240px;
    float: right;
    background-color: #D4D2D3;
    border-top-right-radius: 20px;
}

#graduacion header {
    width: 100%;
    font-size: small;
    height: 25px;
    padding-top: 7px;
    border-top-right-radius: 20px;
    text-align: center;
    background-color: #232323;
    color: #ffffff;
    padding-top: 7px;
}

#graduacion img {
    width: 100%;
    height: 150px;
}

#graduacion p {
    width: 100%;
    font-size: small;
}

#vehiculos {
    height: 307px;
    width: 240px;
    float: left;
    margin-top: 10px;
    border-bottom-left-radius: 20px;
    background-color: #D4D2D3;
}

#vehiculos header {
    width: 100%;
    font-size: small;
    text-align: center;
    background-color: #232323;
    color: #ffffff;
    height: 25px;
    padding-top: 7px;
}

#vehiculos img {
    width: 100%;
    height: 150px;
}

#vehiculos p {
    width: 100%;
    font-size: small;
    border-bottom-left-radius: 20px;
}

#hipotecario {
    height: 307px;
    width: 240px;
    float: right;
    margin-top: 10px;
    background-color: #D4D2D3;
    border-bottom-right-radius: 20px;
}

#hipotecario header {
    width: 100%;
    font-size: small;
    text-align: center;
    background-color: #232323;
    color: #ffffff;
    height: 25px;
    padding-top: 7px;
}

#hipotecario img {
    width: 100%;
    height: 150px;
}

#hipotecario p {
    width: 100%;
    font-size: small;
    border-bottom-right-radius: 20px;
}

footer {
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #232323;
    color: #ffffff;
    height: 70px;
    padding-top: 10px;
}

footer p {
    margin: 0px;
}